<section class="card bg-dark" role="main">
  <header class="card-header">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand">{{title | uppercase}}</a>
      <ul class="nav nav-pills">
        <li *ngFor="let link of links" class="mr-2">
          <a [routerLink]="[link.url]" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
          {{link.fragment}}
          </a>
      </li>
      </ul>
    </nav>
  </header>
  <main class="card-body">
    <router-outlet></router-outlet>
  </main>
  <footer class="card-footer">
    Tinuda Inc. code assesment submitted by Hamzat Habibllahi Adewale
  </footer>
</section>
