<article role="article" class="container">
  <form #form="ngForm" class="mb-4">
    <label for="queryform" class="mr-4">Search by Title</label>
    <input [(ngModel)]="filterBy" name="queryform" id="queryform"/>
  </form>
  <div class="row">
    <section *ngFor="let show of filteredShows" class="col-12 col-sm-6 col-lg-3 mb-4 border mr-2" (click)="onSelected(show)">
      <div id="showPallets">
        <h3>{{show.title | uppercase}}</h3>
        <h4>Directed by {{show.director | lowercase}}</h4>
        <h4>Produced by {{show.producer | lowercase}}</h4>
        <span class="mr-2">Released on: {{show.release_date}}</span>
        <span class="mr-2"></span>
        <p>Crawl: {{show.opening_crawl}}</p>
      </div>
    </section>
  </div>
</article>
